@import "../../_base.scss";
.sidebar{
  display: flex;
  flex-direction: column;
  background-color: $black-sec;
  font-size: 15px;
  width: 150px;
  height: 90vh;
  padding-top: 2rem;
  
  transition: transform 0.2s ease-in;

  position: sticky;
  top: 10vh;
  left: 0;

  a {
    color: $text-color;
    &:hover {
       color: $text-color;
       text-decoration: none;
    }
 }
 
  li{
      
      display: flex;
      padding: 0.6rem 1rem;
      align-items: center;
      margin: 0.2rem 0;
      cursor: pointer;

     span{
         margin-left: 0.4rem;
         font-weight: 500;
         letter-spacing: 0.4px;
     } 
    &:hover{
        background-color: $border-color;
    }
     
  }


}

@media (max-width:$brk-small){
    .sidebar{
        width:70px;
    }

    li{
        justify-content: center;

     span{
         display: none;
     }   
    }

}

@media (max-width:$brk-xsmall){
    .sidebar{
        transform: translateX(-100%);
        position: fixed;
        z-index: 1;

        &.open{
            transform: translateX(0);
        }   
    }
}